<div class="footer">
  <p>Data from: <a href="https://github.com/CSSEGISandData/COVID-19">COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University</a> (Terms of Use - scroll to bottom)</p>

  <p>The API to access the data is <a href="https://documenter.getpostman.com/view/10724784/SzYXWz3x?version=latest#8b133941-d8b3-4055-8047-46171581cac4">COVID API</a></p>

  <p>The mechanism used in the app to access the API is a custom module written to work with the <a href="https://github.com/samvera/questioning_authority">Questioning Authority</a> from the <a href="https://samvera.org/">Samvera Community</a>.</p>

  <p>Application code for <a href="https://github.com/elrayle/covid_tracker">Covid Tracker</a> in GitHub</p>
</div>
