body {
    font-family: font-family-sans-serif;
    background: white;
    margin-bottom: 0;
    margin-left: 20px;
}

td.neutral {
    text-align: center;
}

td.low {
    background: #efe9ab;
    text-align: center;
}

td.moderate {
    background: #d7b27d;
    text-align: center;
}

td.critical {
    background: #d77d7d;
    text-align: center;
}

hr.area-list-footer-top {
    color: #bac9c2;
    width: 100%;
    padding-right: 30px;
    margin-left: -10px;
}
